body, td {
	font:12px/1.5 Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
	
	background-color: #003B55;
	background: url('background-merged.png') 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;

	color: #fff;
	
	font-family: Roboto,sans-serif;
}

html, 
body {
	height: 100%;
}

a {
	color: #ff2f2f;
	text-decoration:none;
}

a:hover {
	color: #ad4b4b;
	text-decoration:underline;
}

td.sp {
	padding-right:12px;
}

.gray {
	background-color: rgb(244,244,244);
}
.tablesorter {
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
	border-collapse: collapse;
}
td {
	padding: 2px;
}

div {
        display: block;
}

.box {
	background: rgba(10, 5, 0, 0.65); /* Цвет фона */
	border-radius: 10px; 
	padding: 10px;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
}

.container {
	width: 1370px;
	margin-right: auto;
	margin-left: auto;
}

.pos-center {
	text-align: center;
}

.row {
	float: left;
}

.row-gear {
	float: left;
	padding: 0;
	margin: 0;
}

.full {
	width: 100% !important;
}

.half {
	width: 50% !important;
}

.w5 {
	width: 5% !important;
}

.w10 {
	width: 10% !important;
}

.w13 {
	width: 13.3% !important;
}

.w15 {
	width: 15% !important;
}

.w20 {
	width: 20% !important;
}

.w25 {
	width: 25% !important;
}

.w30 {
	width: 30% !important;
}

.w33 {
	width: 33.3% !important;
}

.w40 {
	width: 40% !important;
}

.w75 {
	width: 75% !important;
}

.w80 {
	width: 80% !important;
}

.w70p {
	width: 70px !important;
}


.t-right {
	text-align: right;
}

.t-grey {
	color: rgb(150,150,150);
}

.list .row {
	margin-top: 5px;
	margin-bottom: 5px;
}

.gear li > .row,
.special_items li > .row,
.traits li > .row,
.talents li > .row,
.resurgence li > .row,
.potions li > .row {
	margin-top: 3px;
	margin-bottom: 0;
}

.clearfix:after, .clearfix:before {
	content: " ";
	display: table;
	clear: both;
}


.col {
	width: 20%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
        box-sizing: border-box;
        float: left;	
}

.col-full {
	width: 100%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
        box-sizing: border-box;
        float: left;	
        margin-bottom: 10px;
}

.col-half {
	width: 50%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
        box-sizing: border-box;
        float: left;	
        margin-bottom: 10px;
}

.panel {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.small-box {

}

ul.list {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	list-style: none;
	padding: 0;
	margin: 0 -10px;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

li.item {
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,.4);
	box-shadow: 0 1px 0 0 hsla(0,0%,100%,.1);
	padding: 1em;
}

.list-top-line {
	border-bottom: 1px solid rgba(0,0,0,.4);
	box-shadow: 0 1px 0 0 hsla(0,0%,100%,.1);
	padding: 0;
	margin: 0 -10px;
}

.cd_more_2_time {
	width: 10%;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
        box-sizing: border-box;
        float: left;	
}

.cd_more_2_info {
	width: 90%;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
        box-sizing: border-box;
        float: left;
}

.div_more_2 .row {
	margin-top: 0;
}

.div_more_3 .row {
	margin-top: 0;
}

.div_more_3 .row:hover {
	background: rgba(100, 100, 100, 0.4);
	border-radius: 10px; 
}

.cd_more_3_time {
	width: 10%;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
        box-sizing: border-box;
        float: left;	
}

.cd_more_3_info {
	width: 90%;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
        box-sizing: border-box;
        float: left;
}

.cd_more_3_info_heal {
	margin-left: 10%;
	width: 40%;
}

.cd_more_3_info_amount {
	width: 20%;
	text-align: right;
}

.cd_more_3_info_over {
	width: 20%;
	text-align: right;
	color: rgb(150,150,150);
}

.div_more_2 .row,
.div_more_3 .row {
	margin-bottom: 0;
}

.cd_header {
	margin-top: 0;
	font-size: 1.25em;
	margin-bottom: 0.1em;
	padding-left: 15px;
}

.line {
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
        box-sizing: border-box;
        float: left;
}

.spellslist .row {
	margin-top: 4px;
}

.statlist .row {
	margin-top: 0px;
}

img {
	vertical-align: middle;
}

.cooldowns a img {
	height: 23px; 
	vertical-align: middle;
	margin-right: 4px;
}

.resurgence a img,
.traits a img,
.gear a img,
.special_items a img,
.potions a img,
.cooldowns .w70p a img,
.slt .w70p a img,
.talents a img {
	height: 56px;
	border-radius: 50%;
}

.statlist span img {
	height: 16px;
}

.procs a img {
	height: 23px;
	margin-right: 4px;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.navbar-default {
	line-height: 66px;
	background: rgba(35,23,15,.85);
	border: 0;
	box-shadow: 2px 0 3px rgba(0,0,0,.5);
	margin-bottom: 1.75em;
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.navbar-right {
	float: right!important;
	margin-right: 15px;
}

.navbar-header {
	float: left;
	margin-right: 0;
	margin-left: 0;
}

.navbar-progress {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: rgba(228,90,90,.5);
	transition: opacity .4s,width .4s linear;
	pointer-events: none
}

.breadcrumb {
	background: none;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	border-radius: 4px;
	margin-left: 15px;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.breadcrumb>li {
	float: left;
}

.breadcrumb>li:first-of-type {
	font-size: 24px;
	font-weight: 600;
}

.breadcrumb>li:not(:first-of-type) {
	font-size: 14px;
}

.breadcrumb>li:not(:first-of-type) a {
	color: #fff;
}

.breadcrumb>li+li:before {
	content: "\203A";
	padding: 0 5px;
	color: #ccc;
}

.text-center {
	text-align: center;
}

.box-header {
	font-size: 2em;
	padding: 5px 20px;
	
}

.list>li:hover {
	background: hsla(0,0%,100%,.1);
	border-top-color: rgba(0,0,0,.4);
	border-bottom-color: rgba(0,0,0,.4);
}

em.result {
	font-size: 2em;
	font-style: normal;
}

em.result .tip-text {
	font-size: 12px;
}

em.result-hps {
	font-size: 1.75em;
	font-style: normal;
}

.tooltip {
	position: relative;
	display: inline-block;
	font-style: normal;
	border-bottom: 1px dashed #fff;
}

.tooltip:hover {
	text-decoration:none;
	border-bottom: 1px dashed rgba(0,0,0,0);
}

.tooltip .tip-text {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	text-align: center;
	padding: 10px 10px;
	border-radius: 6px;
	
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	top: 125%;
	left: 50%;
	margin-left: -60px;
	
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}


.tooltip .tip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent rgba(0,0,0,.8) transparent;
}

.tooltip:hover .tip-text {
	visibility: visible;
	opacity: 1;
}

.small-box img {
	height: 40px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.6);
}

.small-box .col {
	padding-left: 5px;
	padding-right: 5px;
}
.small-box .row {
	width: 100%;
}


footer { 
        position: relative;
	margin-top: -40px; /* negative value of footer height */
	height: 40px;
	clear:both;
	/* background: rgba(15,28,35,.85); */
	background: rgba(15,28,35,0);
	border: 0;
	/* box-shadow: 2px 0 3px rgba(0,0,0,.5); */
	box-shadow: 2px 0 3px rgba(0,0,0,0);
}

.procs .row:hover {
	background: rgba(100, 100, 100, 0.4);
	border-radius: 4px; 
}

em.kill {
	color: rgba(21, 213, 0, 1);
	font-style: normal;
}
em.wipe {
	color: rgba(213, 21, 0, 1);
	font-style: normal;
}

.form-control {
	font-size: 14px;
	line-height: 1.42857143;
	padding: 6px 12px;
	border-radius: 4px;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background: rgba(0,0,0,.3);
	border: 1px solid transparent;
	box-shadow: none;
	color: #fff;
	vertical-align: middle;
}
 

.form-btn {
	margin-top: 10px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	user-select: none;
	padding: 7px 30px;
	border: none;
	color: #fff;
	background: #d84141;
}

.form-btn:hover {
	color: #fff;
	border-color: #793a06;
	background: #6e2a2a;
}

.form-btn:active {
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	background: #6e2a2a;
}

.DeathKnight{color:#c41f3b!important}
.Druid{color:#ff7d0a!important}
.Hunter{color:#abd473!important}
.Mage{color:#69ccf0!important}
.Monk{color:#2d9b78!important}
.Paladin{color:#f58cba!important}
.Priest{color:#fff!important}
.Rogue{color:#fff569!important}
.Shaman{color:#2459ff!important}
.Warlock{color:#9482c9!important}
.Warrior{color:#c79c6e!important}
.DemonHunter{color:#a330c9!important}
.NPC{color:#aaaaaa!important}
.DeathKnight-bg{background-color:#c41f3b!important}
.Druid-bg{background-color:#ff7d0a!important}
.Hunter-bg{background-color:#9ec76b!important}
.Mage-bg{background-color:#69ccf0!important}
.Monk-bg{background-color:#2d9b78!important}
.Paladin-bg{background-color:#f58cba!important}
.Priest-bg{background-color:#fff!important}
.Rogue-bg{background-color:#fff569!important}
.Shaman-bg{background-color:#2459ff!important}
.Warlock-bg{background-color:#9482c9!important}
.Warrior-bg{background-color:#c79c6e!important}
.DemonHunter-bg{background-color:#a330c9!important}
.NPC-bg{background-color:#aaaaaa!important}
.epic{color:#a335ee!important}
.legendary{color:#ff8000!important}

.slt-damage {
	color: #ff2f2f;
}
.slt-heal {
	color: rgb(95,228,75);
}

.spellslist img {
	height: 23px;
	margin-right: 4px;
	vertical-align: middle;
}

.statlist .size {
	width: 20%;
}

.predictionlist .s-1 {
	width: 40%;
}
.predictionlist .s-2 {
	width: 30%;
}

.fightslist a li {
	color: #fff;
}

.fightslist a:hover li {
	color: #ff2f2f;
	
	background: hsla(0,0%,100%,.1);
	border-top-color: rgba(0,0,0,.4);
	border-bottom-color: rgba(0,0,0,.4);
}

.mastery_eff .row {
	font-size: 14px;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

.mastery_eff .col {
	padding: 7px;
}

.mastery_eff .row:hover {
	background: rgba(100, 100, 100, 0.4);
}

.mastery_eff span img {
	height: 16px;
}

.mastery_eff span {
	font-size: 12px;
}

.gear_charts .row {
	font-size: 14px;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
}

.gear_charts .col {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.gear_charts .row:hover {
	background: rgba(100, 100, 100, 0.4);
}

.gear_charts .eq {
	background: rgba(100, 100, 100, 0.4);
}

.gear_charts img {
	height: 24px;
	width: 24px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: rgba(100, 100, 100, 0.7);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ff7d0a;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff7d0a;
    cursor: pointer;
}

.performance-bar {
	opacity: .9;
	height: 1.2em;
	min-width: 1px;
	background-color: #fff;
	margin-top: .1em;
}

.statlist .ct-chart {
	margin-right: auto;
	margin-left: auto;
	width:635px;
	margin-top: 10px;
}

.ct-label {
	color: rgba(255,255,255,.8);
}

.ct-grid {
	stroke: rgba(255,255,255, 0.2);
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
	stroke: blue;
	stroke-width: 2px;
}
.ct-series-a .ct-area {
	fill: blue;
}
.ct-legend .ct-series-0:before {
	background-color: blue;
	border-color: blue;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
	stroke-width: 2px;
	stroke: green;
}
.ct-series-b .ct-area {
	fill: green;
}
.ct-legend .ct-series-1:before {
	background-color: green;
	border-color: green;
}

.ct-series-c .ct-line,
.ct-series-c .ct-point {
	stroke-width: 2px;
	stroke: red;
}
.ct-series-c .ct-area {
	fill: red;
}
.ct-legend .ct-series-2:before {
	background-color: red;
	border-color: red;
}

.ct-series-d .ct-line,
.ct-series-d .ct-point {
	stroke-width: 2px;
	stroke: yellow;
}
.ct-series-d .ct-area {
	fill: yellow;
}
.ct-legend .ct-series-3:before {
	background-color: yellow;
	border-color: yellow;
}

.ct-series-e .ct-line,
.ct-series-e .ct-point {
	stroke-width: 2px;
	stroke: GreenYellow;
}
.ct-series-e .ct-area {
	fill: GreenYellow;
}
.ct-legend .ct-series-4:before {
	background-color: GreenYellow;
	border-color: GreenYellow;
}

.ct-grid-background, .ct-line {
	fill: none;
}

.ct-legend {
	position: relative;
	z-index: 10;
	list-style: none;
	text-align: center;
}
.ct-legend li {
	position: relative;
	padding-left: 23px;
	margin-right: 10px;
	margin-bottom: 3px;
	cursor: pointer;
	display: inline-block;
}
.ct-legend li:before {
	width: 12px;
	height: 12px;
	position: absolute;
	left: 0;
	content: '';
	border: 3px solid transparent;
	border-radius: 2px;
}
.ct-legend li.inactive:before {
	background: transparent;
}
.ct-legend.ct-legend-inside {
	position: absolute;
	top: 0;
	right: 0;
}
.ct-legend.ct-legend-inside li{
	display: block;
	margin: 0;
}

.chartist-tooltip {
	position: absolute;
	display: inline-block;
	opacity: 0;
	min-width: 5em;
	padding: .5em;
	background: #F4C63D;
	color: #453D3F;
	font-family: Oxygen,Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-align: center;
	pointer-events: none;
	z-index: 1;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear; 
}
.chartist-tooltip:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -15px;
	border: 15px solid transparent;
	border-top-color: #F4C63D; 
}
.chartist-tooltip.tooltip-show {
	opacity: 1; 
}

.ct-area, .ct-line {
	pointer-events: none; 
}